
body {
  
  background-color: navy;
  color: white;
  transition: all 1s;
}

nav {
  background-color: rgb(93, 131, 180);
}

.content h2{
  border: 1px solid white;
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
}

.content .feeling {
  border: 1px solid white;
  /* display: inline-block; */
  border-radius: 10px;
  padding: 10px;
}

article {
  clear: left;
  display: flex;
}
article div {
 text-align: center;
 line-height: 607px;
}