body {
    background-color: plum;
}

header {
    border: blueviolet 5px solid;
}

header h1 {
    text-align: center;
   
}
nav {
    float: left;
    margin: 100px;
    background-color: blueviolet;
    border-radius: 10px;
    width: 200px;
    font-size: 20PX;
    
    
}

a {
    color: white;
    text-decoration: none;;
    
}

li {
    text
}

img {
    margin: 50px;
    border-radius: 10px;
}