body {
    background-color: plum;
    transition: all 1s;
}

/* header {
    background-color: blueviolet;
    border-radius: 10px;
    height: 100px;
    
} */

/* header h1 {
    text-align: center;
    
   
} */
nav {
    float: left;
    margin: 30px;
    background-color: blueviolet;
    border-radius: 10px;
    width:max-content;
    font-size: 20PX;
    display: flex;
    
    
}

nav div {
    margin: 10px;
}

nav a:hover {
    color: yellow;
}

nav a:active {
    color: rgba(152, 206, 231, 0.877);
}

a {
    color: white;
    text-decoration: none;;
    
}


img {
    margin: 50px;
    border-radius: 10px;
}

.content {
    clear : both;
}