
body {
    background-color: plum;
    transition: all 1S;
   
}


nav {
    float: left;
    margin: 30px;
    background-color: blueviolet;
    border-radius: 10px;
    width:max-content;
    font-size: 20PX;
    display: flex;
    transition: all 1s;
    
    
}

nav div {
    margin: 10px;
}

nav a:hover {
    color: yellow;
}

nav a:active {
    color: rgba(152, 206, 231, 0.877);
   
}           

#button {
    appearance: none;
    background-color: blueviolet;
    border-radius: 5px;
    
}

#button:hover {
    background-color: yellowgreen;
    color: white;
    transition: all 0.5s;
}

a {
    color: white;
    text-decoration: none;;
    
}


img {
    margin: 50px;
    border-radius: 10px;
}

.content {
    clear : both;
}